# Python caches
__pycache__/
*.pyc

# VS Code workspace settings (personal stuff)
.vscode/

# macOS junk
.DS_Store

ALIEN GAME IMAGES ETC./

maze_completion_test.py

alien_chronos work doc.rtf

test.py